.WelcomeBox {
	text-align:center;
	color:black;
	background: rgba(243, 243, 243, 0.85);
}

body {
	background-image:url('https://static.pexels.com/photos/529926/pexels-photo-529926.jpeg');
	min-height:100;
	min-width:100;
	background-size:100%;
}